<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.imcom.bikerama">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <permission
        android:name="br.com.imcom.bikerama.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.com.imcom.bikerama.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- localização do usuário -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/android_icon_72x72"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Requerido pelo Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDU8O38Byg6qrDSpuLzOJpYAanMdHwmMSo" />
        <!-- Requerido pelo Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Register3Activity" />
        <activity android:name=".RegisterBikeActivity" />
        <activity
            android:name=".InicialActivity"
            android:launchMode="singleTop" />
        <activity android:name=".RegistroPercursoActivity" />
        <activity android:name=".RegisterComponentesActivity" />
        <activity
            android:name=".LocationActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".SavePercursoActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".PercursosActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".HistoricoPercursosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".DetalhesPercursoActivity"
            android:parentActivityName=".HistoricoPercursosActivity" />
        <activity
            android:name=".ViewComponentesActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".DetalhesComponentesActivity"
            android:parentActivityName=".ViewComponentesActivity" />
        <activity
            android:name=".ViewAcessoriosActivity"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teste_Remover_Depois_Activity"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterAcessoriosActivity"
            android:label="@string/title_activity_register_acessorios" />
        <activity android:name=".LocationServiceActivity" />

        <service
            android:name=".ForegroundService"
            android:process=":gps_reading_service" />

        <activity
            android:name=".GravaPercursoActivity"
            android:label="@string/title_activity_grava_percurso" />
        <activity
            android:name=".ViewRelatoriosActivity"
            android:label="@string/title_activity_view_relatorios"
            android:launchMode="singleTop"
            android:parentActivityName=".Main2Activity" />
        <activity
            android:name=".DetalhesRelatorioActivity"
            android:parentActivityName=".ViewRelatoriosActivity">
        </activity>
    </application>

</manifest>
